<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>Fatores | coleta</title>

    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline' 'unsafe-eval' http://localhost:* www.google-analytics.com data: gap: https://ssl.gstatic.com; style-src 'self' 'unsafe-inline'; media-src 'none'; connect-src https://fatoresweb.azurewebsites.net/ http://fatoresweb.azurewebsites.net/ ws:">


    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <style>
        .bar {
            padding: 0;
        }
        
        .button.button-block, .button.button-full {
             margin-top: 0; 
             margin-bottom: 0; 
        }
    </style>

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="lib/ngCordova/dist/ng-cordova.min.js"></script>
    <script src="cordova.js"></script>

    <!--angulartics-->
    <script src="lib/angulartics/angulartics.min.js"></script>
    <script src="lib/angulartics/angulartics-ga-cordova.min.js"></script>
    
    <!-- your app's js -->
    <script src="lib/globals.js"></script>
    <script src="js/all.js"></script>
  </head>

  <body ng-app="app">
    <ion-nav-bar class="bar bar-header bar-balanced"></ion-nav-bar>
    <ion-nav-view></ion-nav-view>
    
    <script id="recursos-confirm.html" type="text/ng-template">
        <ion-modal-view>
            <ion-header-bar>
                <h1 class="title">Finalizar o levantamento</h1>
            </ion-header-bar>
            <ion-content>
                <h3>Qual o horário de fechamento da sessão?</h3>
                <div class="row">
                    <div class="col"><label>Hora: <input type="number" ng-value="hora" min="0" max="24"></label></div>
                    <div class="col"><label>Minutos: <input type="number" ng-value="minutos" min="0" max="59"></label></div>
                </div>
                <div class="row">
                    <button class="col" type="button" ng-click="fechar()">Continuar levantamento</button>
                    <button class="col" type="button" ng-click="concluir()">Concluir levantamento</button>
                </div>
            </ion-content>
        </ion-modal-view>
    </script>
  </body>
</html>
